/* common styles */
* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.btn-primary {
    background-color: #E55473;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.btn-primary:hover {
    color: #E55473;
    background-color: #fff;
    transition: 0.5s;
}

.title-primary {
    font-size: 34px;
    font-weight: 600;
    padding-bottom: 30px;
}

.text-primary {
    font-size: 16px;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 30px;
}

.color-primary {
    color: #E55473;
}

/* header styles start */
.header-container {
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 75px 75px 0;
}

.header-description {
    max-width: 50%;
    margin: 100px;
}

.header-title {
    color: #272727;
    font-size: 64px;
    line-height: normal;
    margin-bottom: 30px;
    font-weight: 700;
}

/* header styles end */

/* featured flowers styles start */
.featured-container,
.instagram-container {
    padding: 110px 175px 80px;
}

.featured-info,
.instagram-info {
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
}

.featured-images {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding-top: 20px;
}

.figure {
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 50% 50% 0 0;
    width: 370px;
    height: 420px;
}

.figure img {
    max-width: 65%;
    height: auto;
}

.fig-1 {
    background-color: rgba(167, 33, 98, 0.15);
}

.fig-2 {
    background-color: rgba(5, 151, 160, 0.15)
}

.fig-2 img {
    margin-bottom: 40px;
    max-width: 80%;
}

.fig-3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.fig-caption {
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
}

/* featured flowers styles end */

/* support styles start */
.support-container {
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    margin: 0 175px 100px;
    padding: 50px;
    border-radius: 10px;
}

.support {
    text-align: center;
}

.support p {
    font-size: 18px;
    color: rgba(39, 39, 39, 0.8);
}

/* support styles end */

/* discount style start */
.discount-container {
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    padding: 80px 150px;
    align-items: center;
    justify-content: flex-start;
}

.discount-info {
    text-align: center;
}

.discount-info p {
    max-width: 70%;
    margin: 0 auto 40px;
}

/* discount style end */

/* instagram styles start */
.instagram-images {
    display: flex;
    justify-content: space-around;
}

.instagram-images img {
    max-width: 23.5%;
    height: auto;
}

/* instagram styles end */